th{
width: 100%;
border: 1px solid;
color:black;
background-color: orange;
}

td {
border: 1px solid;
}
.supprimer{

background-color: #F0360A;
border: 0px;

}

.center{
        text-align:center;
    }